/*=== START 迷宫盒子 ===*/
/*主框架*/
#main {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 60px 20px 20px;
    position: relative;
}

/*迷宫大盒子*/
#maze {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(60, 60, 60, .3);
}

/*迷宫的每一行*/
#mazeBody .row {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*迷宫的每一格*/
#mazeBody .col {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px dashed rgba(213, 213, 213, 0.10);
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*墙体样式*/
#mazeBody .wall {
    background: -webkit-linear-gradient(90deg, rgba(239, 157, 60, .8) 5%, rgba(239, 157, 60, 0.2) 100%),
    -webkit-linear-gradient(180deg, rgba(239, 157, 60, .8) 5%, rgba(239, 157, 60, 0.2) 100%);
    background: -moz-linear-gradient(90deg, rgba(239, 157, 60, .8) 5%, rgba(239, 157, 60, 0.2) 100%),
    -moz-linear-gradient(180deg, rgba(239, 157, 60, .8) 5%, rgba(239, 157, 60, 0.2) 100%);
    background: -o-linear-gradient(90deg, rgba(239, 157, 60, .8) 5%, rgba(239, 157, 60, 0.2) 100%),
    -o-linear-gradient(180deg, rgba(239, 157, 60, .8) 5%, rgba(239, 157, 60, 0.2) 100%);
    background: -ms-linear-gradient(90deg, rgba(239, 157, 60, .8) 5%, rgba(239, 157, 60, 0.2) 100%),
    -ms-linear-gradient(180deg, rgba(239, 157, 60, .8) 5%, rgba(239, 157, 60, 0.2) 100%);
    background: linear-gradient(90deg, rgba(239, 157, 60, .8) 5%, rgba(239, 157, 60, 0.2) 100%),
    linear-gradient(180deg, rgba(239, 157, 60, .8) 5%, rgba(239, 157, 60, 0.2) 100%);
    /*background-color: rgba(255, 255, 255, 0.25);*/
}

/*起点样式*/
#mazeBody .start {
    background: -webkit-linear-gradient(90deg, rgba(45, 158, 240, .8) 5%, rgba(45, 158, 240, .2) 100%),
    -webkit-linear-gradient(180deg, rgba(45, 158, 240, .8) 5%, rgba(45, 158, 240, .2) 100%);
    background: -moz-linear-gradient(90deg, rgba(45, 158, 240, .8) 5%, rgba(45, 158, 240, .2) 100%),
    -moz-linear-gradient(180deg, rgba(45, 158, 240, .8) 5%, rgba(45, 158, 240, .2) 100%);
    background: -o-linear-gradient(90deg, rgba(45, 158, 240, .8) 5%, rgba(45, 158, 240, .2) 100%),
    -o-linear-gradient(180deg, rgba(45, 158, 240, .8) 5%, rgba(45, 158, 240, .2) 100%);
    background: -ms-linear-gradient(90deg, rgba(45, 158, 240, .8) 5%, rgba(45, 158, 240, .2) 100%),
    -ms-linear-gradient(180deg, rgba(45, 158, 240, .8) 5%, rgba(45, 158, 240, .2) 100%);
    background: linear-gradient(90deg, rgba(45, 158, 240, .8) 5%, rgba(45, 158, 240, .2) 100%),
    linear-gradient(180deg, rgba(45, 158, 240, .8) 5%, rgba(45, 158, 240, .2) 100%);
    /*background-color: rgba(255, 255, 255, .3);*/
}

/*终点样式*/
#mazeBody .end {
    background: -webkit-linear-gradient(90deg, rgba(87, 200, 135, .8) 5%, rgba(87, 200, 135, 0.2) 100%),
    -webkit-linear-gradient(180deg, rgba(87, 200, 135, .8) 5%, rgba(87, 200, 135, 0.2) 100%);
    background: -moz-linear-gradient(90deg, rgba(87, 200, 135, .8) 5%, rgba(87, 200, 135, 0.2) 100%),
    -moz-linear-gradient(180deg, rgba(87, 200, 135, .8) 5%, rgba(87, 200, 135, 0.2) 100%);
    background: -o-linear-gradient(90deg, rgba(87, 200, 135, .8) 5%, rgba(87, 200, 135, 0.2) 100%),
    -o-linear-gradient(180deg, rgba(87, 200, 135, .8) 5%, rgba(87, 200, 135, 0.2) 100%);
    background: -ms-linear-gradient(90deg, rgba(87, 200, 135, .8) 5%, rgba(87, 200, 135, 0.2) 100%),
    -ms-linear-gradient(180deg, rgba(87, 200, 135, .8) 5%, rgba(87, 200, 135, 0.2) 100%);
    background: linear-gradient(90deg, rgba(87, 200, 135, .8) 5%, rgba(87, 200, 135, 0.2) 100%),
    linear-gradient(180deg, rgba(87, 200, 135, .8) 5%, rgba(87, 200, 135, .2) 100%);
    /*background-color: rgba(255, 255, 255, .3);*/
}
/*=== END 迷宫盒子 ===*/

/*=== START 浮动窗口 ===*/
/*浮动窗口副标题样式*/
#main #floatBar h2 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: -15px;
    color: #2fddc6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 2em;
}

/*浮动栏中每一个子选项盒子*/
#main #floatBar #subFloatBar {
    width: calc(100% - 40px);
    height: 0;
    top: 0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main #floatBar:hover #subFloatBar {
    height: 280px;
}

/*浮动栏子选项中的每一个选项*/
#subFloatBar .float-bar-main-selector {
    height: 170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

#subFloatBar .float-bar-main-selector:before {
    display: block;
    position: absolute;
    top: -24px;
    font-size: 16px;
    left: 0;
    height: 20px;
    line-height: 20px;
    color: #eeeeee;
}

.float-bar-main-selector .subBlockSelector .content,
.float-bar-main-selector .subBlockSelector .info {
    position: absolute;
}

#subFloatBar #blockSelector {
    float: left;
    width: 35%;
}

#subFloatBar #blockSelector:before {
    content: "OPERATION";
}

#subFloatBar #submitSelector {
    float: right;
    width: 50%;
}

#subFloatBar #submitSelector:before {
    content: "OPTIONS";
}

.float-bar-main-selector .subBlockSelector {
    height: 100%;
    width: 140px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.float-bar-main-selector .subBlockSelector .content {
    top: 22px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    cursor: pointer;
    text-align: center;
    transition: all .3s;
}

.float-bar-main-selector .subBlockSelector:hover .content {
    cursor: pointer;
    border: 1px solid #2fddc6;
    background-color: rgba(47, 221, 198, 0.11);
}

.float-bar-main-selector .subBlockSelector:hover .info {
    cursor: pointer;
    color: #2fddc6;
}

.subBlockSelector .content svg {
    margin-top: 10px;
    height: 80px;
    width: 80px;
}

.subBlockSelector .content i {
    color: #eeeeee;
    font-size: 42px;
    line-height: 100px;
}

.float-bar-main-selector .subBlockSelector .info {
    bottom: 12px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #eeeeee;
}

/*心跳动画*/
@keyframes heart-beat {
    0%, 100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    10%, 30% {
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    50%, 70% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
}

/*=== END 浮动窗口 ===*/
